.profile-table {
    height: 25%;
    width: 50%;
    color:cyan;
    background-color: teal;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;

}

.table-grid {
    text-align: center;
}

.hdr-btn {
    border-radius: 5px;
    border-color: cyan;
    color: cyan;
    width: 130px;
    height:30px;
    background-color: transparent;
}

.heading {
    width: 100%;
    text-align: center;
    color: teal;
    text-decoration: teal, 10px;
  }

.form {
    width: 25%;
    border-radius: 5px;
    margin-left: 37.5%;
    margin-right: 37.5%;
    color:cyan;
    background-color: teal;
    text-align: center;
    padding-bottom: 5px;
}

table {
    border-radius: 5px;
}

.formGrid {
    width: 100%;
}