.register-grid {
    width: 100%;
}

.register-form {
    margin-left: 25%;
    text-align: center;
    background-color: teal;
    width: 50%;
    border-radius: 5px;
}

.regis-btn {
    border-radius: 5px;
    border-color: cyan;
    color: cyan;
    width: auto;
    height: 30px;
    background-color: transparent;
    align-content: center;
    margin-bottom:10px;
}